@import 'variables';

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body, html, #root, #App, #App > div {
  height: 100%;
  width: 100%;
 }

a {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

#root > * {
  height: 100%;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
}

.icon-small {
  width: 20px;
  height: 20px;
}

.icon-20 { width: 20px; height: 20px; }
.icon-30 { width: 30px; height: 30px; }
.icon-40 { width: 40px; height: 40px; }
.icon-50 { width: 50px; height: 50px; }
.icon-60 { width: 60px; height: 60px; }
.icon-70 { width: 70px; height: 70px; }
.icon-80 { width: 80px; height: 80px; }
.icon-90 { width: 90px; height: 90px; }
.icon-100 { width: 100px; height: 100px; }

.link {
  cursor: pointer;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}