// Color Scheme
$bkgd-dark: #000000;
$bkgd-light: #ffffff;
$bkgd-dark-hover: #181818;
$bkgd-medium: #242424;
$primary-color: #217EEF;
$border-color: #363636;

// Text Colors
$text-color-light: #ddd;
$text-color-dark: #333;
$text-color-light-hover: #fff;