@import '../variables';

#Feed {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  height: 100%;
  width: 600px;

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

#FeedTop {
  flex: none;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  & > * {
    flex: 1;
  }

  #FeedTop__PageTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 12px;
  }

  #FeedTop__FeedType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $border-color;

    .FeedTypeContainer {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      // padding: 10px;

      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $bkgd-dark-hover;
      }
    }

    .FeedTypeText {
      font-size: 16px;
      padding: 10px 0;
      
      &.FeedTypeActive {
        font-weight: bold;
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}

.Tweet {
  flex: none;
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: 12px;

  .TweetRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 4px;

    * {
      box-sizing: border-box;
    }

    .TweetRight__authorInfo.newTweet {
      opacity: 0;
    }

    .TweetRight__authorInfo__name {
      font-weight: bold;
    }

    .TweetRight__authorInfo__handle, .TweetRight__authorInfo__time {
      font-size: 14px;
      color: $text-color-light;
    }

    .TweetContent {
      min-height: 40px;

      input.TweetContent__input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        padding: 0;
        margin: 0;
        color: $text-color-light;
      }
    }

    .TweetActions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      // TEMP - Make text italic and small
      font-style: italic;
      font-size: 12px;
    }

    button.TweetActions__right__post {
      background-color: $primary-color;
      color: $bkgd-light;
      border: none;
      border-radius: 999px;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

#FeedTweets {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;

  // hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  .Tweet {
    border-top: 1px solid $border-color;
  }
}