@import "../variables";

#MessagesList {
  height: 100%;
  width: 350px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  

  .MessageList__header {
    flex: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .MessageList__pagetitle {
      margin: 0;
      font-size: 20px;
      color: white;
    }

    .MessageList__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      gap: 15px;

      img {
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          filter: invert(0.4);
        }
      }
    }
  }

  .MessageList__list {
    flex: 1;

    overflow-y: scroll;
    overflow-x: hidden;
  }

  .MessagePreview {
    padding: 15px;
    border-bottom: 1px solid $border-color;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $bkgd-dark-hover;
    }

    &:last-child {
      border-bottom: none;
    }

    .MessagePreview__left {
      flex: none;
      border-radius: 50%;
      background-color: white;
    }

    .MessagePreview__right {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 5px;
    }

    .Message__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      gap: 5px;

      .Message__senderName {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-size: 16px;
        color: white;
        font-weight: bold;
      }

      .Message__senderHandle, .Message__date {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-size: 16px;
        color: #999;
      }
    }

    .Message__preview {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 14px;
      color: #999;
    }
  }
}

#MessageViewPane {
  width: 600px;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .MessageViewPane__header {
    flex: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .MessageViewPane__header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    .MessageViewPane__header__left__profilePic {
      border-radius: 50%;
      background-color: white;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .MessageViewPane__header__left__senderName {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 20px;
      color: white;
      font-weight: bold;
    }
  }

  // MessageViewPane__body__message senderMessage
  .MessageViewPane__body {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    .MessageViewPane__body__message {
      max-width: 400px;
      padding: 10px;
      margin: 10px 0 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 5px;

      &.receivedMessage {
        background-color: $bkgd-medium;
        border-radius: 20px 20px 20px 5px;
      }

      .MessageViewPane__body__message__date {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-size: 12px;
        color: #999;
      }
    }
  }

  .MessageViewPane__footer {
    padding: 10px 10px;
    border-top: 1px solid $border-color;

    .MessageViewPane__replyContainer {
      flex: none;
      width: 100%;
      padding: 0 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: $bkgd-medium;
      border-radius: 100px;

      .MessageViewPane__replyContainer__input {
        flex: 1;
        border: none;
        border-radius: 20px;
        padding: 10px;
        background-color: transparent;
        color: white;
        font-size: 16px;
        outline: none;
      }

      .MessageViewPane__replyContainer__sendBtn {
        flex: none;
        border: none;
        border-radius: 20px;
        height: 20px;
        width: 20px;
        filter: invert(0.4);

        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          filter: invert(0);
        }
      }
    }
  }
}