#Sidebar {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: none;
  
  &>* {
    padding: 10px 15px;
  }
}

#SidebarTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#logo-main {
  width: 40px;
}

#SideBarTop__LinksContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.SidebarTop__Link {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  
  &, * {
    user-select: none;
    cursor: pointer;
  }
  
  img.SidebarLinkIcon {
    height: 25px;
  }
  
  .SidebarLinkLabel {
    font-size: 20px;
  }
}

#SidebarBottom {
  display: flex;
  align-items: center;
  gap: 15px;
}